/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/pageStyles.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.home-no-auth-wrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: background-color 0.5s ease;
  padding-right: 5%;
}

.home-no-auth-wrapper.dark-mode{
  background-color: var(--paragraph-color);
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.coder-gretting-wrapper{
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
.coder-gretting-container {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 410px;
  height: 410px;
  position: absolute;
}

.coder-gretting-container>img {
  position: absolute;
  bottom: -2%;
  right: -13%;
}

.gretting-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.gretting-image>img {
  position: absolute;
  bottom: 350px;
  left: 430px;
  font-size: 10rem;
  color: var(--main-color);
  transform: scaleX(-1);
  animation: bounceAndVibrate 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes bounceAndVibrate {
  0% {
    transform: scaleX(-1) translateY(0) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) translateY(-30px) rotate(2deg);
  }
  100% {
    transform: scaleX(-1) translateY(0) rotate(-2deg);
  }
}


/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/TitleHome/TitleHome.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.title-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    margin: 0;
    padding-bottom: var(--padding-big);
}

.title-home {
    color: var(--paragraph-color);
    font-family: var(--main-font);
    font-size: 4rem;
}

.home-subtitle {
    color: var(--paragraph-color-gray);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 2rem;
}

.title-home.dark-mode, .home-subtitle.dark-mode{
    color:var(--white-color);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/RiwiLogo/RiwiLogo.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.riwi-logo-container{
    position: absolute;
    bottom: 3%;
    left: 3%;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/UtilityRightButtons/UtilityRightButtons.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.media-icons {
    position: absolute;
    bottom: 6%;
    right: 4.8%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-min);
  }
  
  .switch-mode-home{
    position: absolute;
    bottom: 50%;
    right: 5%;
  }
