div.content-search {
  border-radius: var(--border-radius-big);
  background-color: var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding-min) - 5px);
  width: 30%;
  height: 40px;
}

div.content-search > input.search-input {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
}
input[type="search"] {
  outline: none;
  width: 100%;
}
@media (max-width: 794px) {
  div.content-search {
    width: 80%;
  }
}