.mainGeneral-section-3d {
  position: relative;
  width: 80vw; 
  height: 80vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content-cards-3d {
  position: relative;
  width: 70%;
  height: 60vh;
}

#card-0 {
  width: 100%; 
  height: auto;
}

.section-buttons-3d {
  position: absolute;
  top: 50%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}

.button-left, .button-right {
  cursor: pointer;
}
