/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --main-color: #6b5cff;
  --paragraph-color: #323131;
  --paragraph-color-gray: #707070;
  --secondary-color: #181e4b;
  --white-color: #ffffff;
  --gray-color: #eeeeee;
  --gray-strong-color: #707070;
  --green-color: #5acca4;
  --border-color-gray: #cecaca;
  --yellow-color: #e6ca52;
  --pink-color: #eaa2fc;
  --red-color: #fe654f;
  --border-radius-min: 10px;
  --border-radius-big: 30px;
  --padding-min: 10px;
  --padding-medium: 20px;
  --padding-big: 30px;
  --padding-extra-big: 40px;
  --padding-extra-big: 40px;
  --font-size-min: 0.6rem;
  --font-size-medium: 0.9rem;
  --font-size-big: 1.2rem;

  /* Variable para la fuente */
  --main-font: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: var(--main-font);
}

body {
  max-width: none;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  font-family: var(--main-font);
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/RiwiLogo/RiwiLogo.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.riwi-logo-container{
    position: absolute;
    bottom: 3%;
    left: 3%;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/UtilityRightButtons/UtilityRightButtons.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.media-icons {
    position: absolute;
    bottom: 6%;
    right: 4.8%;
    display: flex;
    flex-direction: column;
    gap: var(--padding-min);
  }
  
  .switch-mode-home{
    position: absolute;
    bottom: 50%;
    right: 5%;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/organisms/DashboardLayout/dashboardLayoutStyles.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Styles for content layout dashbaord admin*/
div.content-layout {
  display: flex;
  gap: var(--border-radius-big);
  color: var(--white-color);
  font-family: "Ubuntu", sans-serif;
  overflow: visible;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
}

.open {
  display: none;
}

h2.title-main {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--border-radius-min);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border-radius-min);
  border: none;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.buttons {
  background-color: red;
}

div.content-dashboard {
  width: 100%;
}

div.content-dashboard > main.main {
  position: absolute;
  width: 80%;
  height: 85%;
  left: 17%;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/ButtonMore/ButtonMoreStyles.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
div.button-more{
    background-color: var(--main-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .4s ease-in-out ;
}

div.button-more:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/InputFilter/inputFilterStyles.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
div > label {
  border: 1px solid var(--border-color-gray);
  padding: var(--padding-min);
  border-radius: var(--border-radius-min);
  color: var(--paragraph-color-gray);
  transition: background-color 0.3s ease;
}
div > label > input {
  display: none;
  transition: background 0.4s ease-in-out;
}

div > label:hover {
  cursor: pointer;
  background-color: var(--gray-color);
}

.checked-filter {
  background-color: var(--main-color);
  color: var(--white-color);
  border: 1px solid var(--main-color);
}

.checked-filter:hover {
  color: var(--main-color);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/ItemNav/itemNavStyles.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
li.nav-list-item {
  color: var(--white-color);
  margin-bottom: var(--padding-min);
  transition: color 0.4s ease;
}

li.nav-list-item:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/loaders/Loaders.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.loader-container-display {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 100;
}
.circular-loader-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-loader-container img {
  position: absolute;
  width: 60%;
}

.circular-loader-container .circular-loader {
  position: absolute;
  width: 100%;
  height: 100%;
}

.linear-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  max-width: none;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/TitleHome/TitleHome.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.title-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    margin: 0;
    padding-bottom: var(--padding-big);
}

.title-home {
    color: var(--paragraph-color);
    font-family: var(--main-font);
    font-size: 4rem;
}

.home-subtitle {
    color: var(--paragraph-color-gray);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 2rem;
}

.title-home.dark-mode, .home-subtitle.dark-mode{
    color:var(--white-color);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/atoms/TitleMain/titleMainStyles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
div > h4.main-subtitle {
  color: var(--paragraph-color-gray);
  font-weight: 400;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Card/cardStyles.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
div.card {
  border: 1px solid var(--border-color-gray);
  border-radius: var(--border-radius-min);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(100% / 4 - 20px);
  height: 250px;
}

div.card > div.card-header {
  width: 100%;
  height: 70%;
  position: relative;
}
div.card > div.card-header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-min);
  border-top-right-radius: var(--border-radius-min);
}

div.card > div.card-header > div.header-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-min);
}

div.card > div.card-body {
  display: flex;
  justify-content: space-between;
  padding: var(--border-radius-min);
}

div.card > div.card-body > div.body-information {
  width: 70%;
}

div.card > div.card-body > div.body-information > h3.body-title {
  font-size: 1rem;
  color: var(--paragraph-color);
}

div.card > div.card-body > div.body-information > h5.body-subtitle {
  color: var(--paragraph-color-gray);
}

/* Style icon*/
div.card > div.card-header > div.header-buttons > .edit-icon {
  color: var(--gray-strong-color);
  cursor: pointer;
}

div.card > div.card-header > div.header-buttons > .delete-icon {
  color: var(--gray-strong-color);
  cursor: pointer;
}

div.card > div.card-header > div.header-buttons > .edit-icon:hover {
  color: var(--main-color);
  cursor: pointer;
}
div.card > div.card-header > div.header-buttons > .delete-icon:hover {
  color: var(--red-color);
  cursor: pointer;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Filter/filterStyles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
div.filter {
  display: flex;
  align-items: center;
  gap: var(--padding-big);
  height: 15%;
  width: 100%;
}

div.filter > div.filter-languages,
div.filter > div.filter-skills,
div.filter > div.filter-teach,
div.filter > div.filter-clan {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}

div.filter > div.filter-languages > div.languages-options,
div.filter > div.filter-skills > div.skills-options,
div.filter > div.filter-teach > div.teach-options,
div.filter > div.filter-clan > div.clan-options {
  display: flex;
  gap: var(--padding-min);
}

div.filter > div.filter-languages > h3,
div.filter > div.filter-skills > h3,
div.filter > div.filter-teach > h3,
div.filter > div.filter-clan > h3 {
  font-weight: 400;
  color: var(--paragraph-color-gray);
}

div.filter > div.button-search {
  margin-top: 40px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Footer/footerStyles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
footer.footer {
  display: flex;
  align-items: end;
  gap: var(--padding-big);
  position: absolute;
  bottom: 3%;
  left: 17%;
}

footer.footer .link {
  text-decoration: none;
  color: var(--paragraph-color);
}

footer.footer .link:hover {
  color: var(--main-color);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Sidebar/sidebarStyles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
/* Styles for header */
div.sidebar {
  background-color: var(--main-color);
  flex-basis: 15%;
  border-radius: var(--border-radius-min);
  padding: var(--padding-big);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 95.5vh;
  margin: var(--padding-medium) 0;
  margin-left: var(--padding-medium);
  gap: calc(var(--padding-extra-big) * 2);
  transition: flex-basis 0.4s ease, margin 0.4s ease, opacity 0.4s ease;
  position: relative;
}
/* Styles for content users*/
div.sidebar > div.sidebar-content-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-min);
}

div.sidebar > div.sidebar-content-user > div > div.icon {
  cursor: pointer;
  position: absolute;
  top: 1%;
  left: 5%;
}

div.sidebar > div.sidebar-content-user > h5.content-user-welcome {
  font-weight: 500;
  font-size: var(--font-size-medium);
}

div.sidebar > div.sidebar-content-user > h2.sidebar-title {
  font-size: var(--font-size-big);
}
div.sidebar > div.sidebar-content-user > div.content-user-image {
  cursor: pointer;
  opacity: 1;
}

/* Styles for content nav*/
div.sidebar > nav.navbar {
  margin: 0 auto;
  height: 100%;
}

div.sidebar > nav.navbar > ul.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 0;
  padding-left: 0;
  height: 100%;
}

div.sidebar > nav.navbar > ul.navbar-list > li.nav-list-item,
ul.navbar-list > div > li.nav-list-item {
  display: flex;
  align-items: center;
  gap: var(--padding-min);
  margin-left: 0;
}

/* Styles open with sidebar*/
.sidebarWidth {
  background-color: var(--main-color);
  flex-basis: 5%;
  height: 100%;
  height: 100%;
  min-height: 95.5vh;
  margin: var(--padding-medium) 0;
  margin-left: var(--padding-medium);
  gap: var(--padding-extra-big);
  border-radius: var(--border-radius-min);
  padding: var(--padding-min);
  transition: flex-basis 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarWidth > div.sidebar-content-user {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}

.sidebarWidth > div.sidebar-content-user > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-medium);
}

.sidebarWidth > div.sidebar-content-user > div > div.icon {
  cursor: pointer;
}

.sidebarWidth > div.sidebar-content-user > div > h2.sidebar-title {
  font-size: 0.9rem;
}

.sidebarWidth > div.sidebar-content-user > h5,
.sidebarWidth > div.sidebar-content-user > h3 {
  opacity: 0;
}

.sidebarWidth > div.sidebar-content-user > div.content-user-image {
  opacity: 0;
}

.sidebarWidth > nav.navbar {
  height: 50%;
}
.sidebarWidth > nav.navbar > ul.navbar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  height: 100%;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Search/searchStyles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
div.content-search {
  border-radius: var(--border-radius-big);
  background-color: var(--gray-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding-min) - 5px);
  width: 500px;
  height: 40px;
}

div.content-search > input.search-input {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu", sans-serif;
}
input[type="search"] {
  outline: none;
  width: 100%;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/Header/headerStyles.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
header.header {
  display: flex;
  gap: var(--padding-big);
  width: 100%;
  height: 10%;
}

header.header > div.section-content-coders {
  width: 85%;
  display: flex;
  align-items: center;
  margin-top: var(--padding-min);
  gap: var(--padding-extra-big);
  margin-left: -0.3%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/organisms/SectionCoders/sectionStyles.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
/* Styles for section coders----------------->*/
section.main-section {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
  margin-top: var(--padding-big);
  height: 74%;
}

section.main-section > div.section-content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
  height: auto;
}

section.main-section > div.section-buttons {
  color: var(--main-color);
  display: flex;
  cursor: pointer;
}

section.main-section > div.section-buttons > .button-left {
}

/*
div.content-layout
  > div
  > main.main
  > section.main-section
  > div.section-buttons
  > .button-left,
div.content-layout
  > div
  > main.main
  > section.main-section
  > div.section-buttons
  > .button-right {
  cursor: pointer;
}*/

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/organisms/DashboardCardsContainer/DashboardCardsContainer.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card-info-container{
    display: flex;
    gap:var(--padding-big)
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/UI/components/molecules/DashboardCard/DashboardCard.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard-card{
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    width: -moz-fit-content;
    width: fit-content;
    min-width: 25%;
    padding:var(--padding-medium) var(--padding-medium) var(--padding-extra-big) var(--padding-medium);
    color:var(--white-color);
    justify-content: center;
    align-items: center;
    border-radius: var( --border-radius-min);
}

.icon-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-min);
    font-size: 1.5rem;
}
.dashboard-card-number{
    font-size: 2.6rem;
}

