.circular-loader-container{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-loader-container img{
    position: absolute;
    width: 60%;
}

.circular-loader-container .circular-loader{
    position: absolute;
    width: 100%;
    height: 100%;
}