.loader-container-display {
  position: absolute;
  top: 45%;
  left: 48%;
  z-index: 100;
}
.circular-loader-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-loader-container img {
  position: absolute;
  width: 60%;
  z-index: 10;
}

.circular-loader-container .circular-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
}

.linear-loader {
  position: absolute;
  bottom: 2%;
  left: 0;
  z-index: 200;
  width: 80vw;
  max-width: none;
}
