.title-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    margin: 0;
    padding-bottom: var(--padding-big);
}

.title-home {
    color: var(--paragraph-color);
    font-family: var(--main-font);
    font-size: 300%;
}

.home-subtitle {
    color: var(--paragraph-color-gray);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 150%;
}