.dashboard-card{
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    width: fit-content;
    min-width: 27%;
    padding:var(--padding-medium) var(--padding-medium) var(--padding-extra-big) var(--padding-medium);
    color:var(--white-color);
    justify-content: center;
    align-items: center;
    border-radius: var( --border-radius-min);
}

.icon-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-min);
    font-size: 1.5rem;
}
.dashboard-card-number{
    font-size: 2.6rem;
}
@media (max-width: 794px) {
    .dashboard-card{
        min-width: 100%
    }
}