@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --main-color: #6B5CFF;
  --paragraph-color: #1d1d1d;
  --paragraph-color-gray: #707070;
  --secondary-color: #181E4B;
  --white-color: #FFFFFF;
  --gray-color: #F9FAFC;
  --green-color: #5ACCA4;
  --border-color-gray: #CECACA;
  --yellow-color: #E6CA52;
  --pink-color: #EAA2FC;
  --red-color: #FE654F;
  --border-radius-min: 10px;
  --border-radius-big: 30px;
  --padding-min: 10px;
  --padding-medium: 20px;
  --padding-big: 30px;
  --padding-extra-big: 40px;
  --padding-extra-big: 40px;
  --font-size-min: .6rem;
  --font-size-medium: .9rem;
  --font-size-big: 1.2rem;

  /* Variable para la fuente */
  --main-font: 'Ubuntu', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: var(--main-font);
}

body{
  max-width: 100%;
body {
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  font-family: var(--main-font); 
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}

