@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --main-color: #6B5CFF;
  --secondary-color: #181E4B;
  --white-color: #FFFFFF;
  --gray-color: #F9FAFC;
  --green-color:#5ACCA4;
  --yellow-color:#E6CA52;
  --pink-color:#EAA2FC;
  --red-color:#FE654F;
  --border-radius-min: 10px;
  --padding-min: 10px;
  --padding-medium: 20px;
  --padding-big: 30px;
  --padding-extra-big: 40px;
}

html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body{
  max-width: 1350px;
  margin: 10px auto;
  height: 96vh;
}