@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --main-color: #6b5cff;
  --blue-color-light: #6b5cff3b;
  --button-color-coder:#6B5CFF;
  --background-dark-mode:#151B23;
  --paragraph-color: #0D1117;
  --background-color-dark-light: #131922;
  --paragraph-color-gray: #707070;
  --white-color-light: #f5f5f5;
  --secondary-color: #181e4b;
  --white-color: #ffffff;
  --gray-color: #F8F8F8;
  --gray-strong-color: #707070;
  --green-color: #5acca4;
  --green-color-light: #5acca43b;
  --border-color-gray: #cecaca;
  --yellow-color: #e6ca52;
  --yellow-color-light: #e6ca523b;
  --pink-color: #eaa2fc;
  --pink-color-light: #eaa2fc3b;
  --red-color: #fe654f;
  --red-color-light: #fe664f3b;
  --border-radius-min: 10px;
  --border-radius-medium: 20px;
  --border-radius-big: 30px;
  --padding-min: 10px;
  --padding-medium: 20px;
  --padding-big: 30px;
  --padding-extra-big: 40px;
  --padding-mega-big: 45px;
  --font-size-min: 0.6rem;
  --font-size-medium: 0.9rem;
  --font-size-big: 1.2rem;

  /* Variable para la fuente */
  --main-font: "Ubuntu", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 794px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: var(--main-font);
}

body {
  max-width: none;
  margin: 0 auto;
  overflow: hidden;
  font-family: var(--main-font);
  min-height: 100vh;
  max-height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
