.home-no-auth-wrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: background-color 0.5s ease;
  padding-right: 5%;
}

.home-no-auth-wrapper-dark-mode {
  background-color: var(--paragraph-color);
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-right: 5%;
  transition: background-color 0.5s ease;
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.coder-gretting-wrapper {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.coder-gretting-container {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 410px;
  height: 410px;
  position: absolute;
}

.coder-gretting-container > img {
  position: absolute;
  bottom: -2%;
  right: -13%;
}

.gretting-image {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 4;
}

.gretting-image > img {
  position: absolute;
  bottom: 350px;
  left: 430px;
  font-size: 10rem;
  color: var(--main-color);
  transform: scaleX(-1);
  animation: bounceAndVibrate 2s infinite ease-in-out;
  cursor: pointer;
}

@keyframes bounceAndVibrate {
  0% {
    transform: scaleX(-1) translateY(0) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) translateY(-30px) rotate(2deg);
  }
  100% {
    transform: scaleX(-1) translateY(0) rotate(-2deg);
  }
}

/* Para dispositivos de 768px hacia abajo */
@media (max-width: 768px) {
  .home-no-auth-wrapper {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background-color 0.5s ease;
    padding-right: 5%;
  }
  
  .home-no-auth-wrapper-dark-mode {
    background-color: var(--paragraph-color);
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-right: 5%;
    transition: background-color 0.5s ease;
  }
  
  .home-info {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .coder-gretting-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top:12%;

  }
  
  .coder-gretting-container {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 310px;
    height: 310px;
    position: absolute;
  }
  
  .coder-gretting-container > img {
    position: absolute;
    bottom: -2%;
    right: -15%;
    width: 390px;
    height: 400px;
  }
  
  .gretting-image {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  .gretting-image > img {
    position: absolute;
    bottom: 280px;
    left: 160px;
    font-size: 4rem;
    color: var(--main-color);
    transform: scaleX(-1);
    animation: bounceAndVibrate 2s infinite ease-in-out;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
}

/* Para tablets (768px a 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .home-no-auth-wrapper {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background-color 0.5s ease;
    padding-right: 5%;
  }
  
  .home-no-auth-wrapper-dark-mode {
    background-color: var(--paragraph-color);
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-right: 5%;
    transition: background-color 0.5s ease;
  }
  
  .home-info {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .coder-gretting-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    top:12%;

  }
  
  .coder-gretting-container {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 310px;
    height: 310px;
    position: absolute;
  }
  
  .coder-gretting-container > img {
    position: absolute;
    bottom: -2%;
    right: -15%;
    width: 390px;
    height: 400px;
  }
  
  .gretting-image {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  .gretting-image > img {
    position: absolute;
    bottom: 280px;
    left: 160px;
    font-size: 4rem;
    color: var(--main-color);
    transform: scaleX(-1);
    animation: bounceAndVibrate 2s infinite ease-in-out;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }
}

/* Para laptops (992px a 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .home-no-auth-wrapper {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: background-color 0.5s ease;
    padding-right: 5%;
  }
  
  .home-no-auth-wrapper-dark-mode {
    background-color: var(--paragraph-color);
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-right: 5%;
    transition: background-color 0.5s ease;
  }
  
  .home-info {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  .coder-gretting-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .coder-gretting-container {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 410px;
    height: 410px;
    position: absolute;
  }
  
  .coder-gretting-container > img {
    position: absolute;
    bottom: -2%;
    right: -13%;
  }
  
  .gretting-image {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 4;
  }
  
  .gretting-image > img {
    position: absolute;
    bottom: 350px;
    left: 430px;
    font-size: 10rem;
    color: var(--main-color);
    transform: scaleX(-1);
    animation: bounceAndVibrate 2s infinite ease-in-out;
    cursor: pointer;
  }
}

/* Para dispositivos extra grandes (1200px en adelante) */
@media (min-width: 1200px) {
  .home-no-auth-wrapper {
    flex-direction: row; /* Mantiene la disposición original */
  }

  .coder-gretting-wrapper {
    width: 50%;
    height: 500px;
  }

  .home-info {
    width: 45%;
  }

  .gretting-image > img {
    bottom: 350px;
    left: 430px;
    font-size: 10rem; /* Tamaño original */
  }
}
