.home-no-auth-wrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0 var(--padding-big) 0 200px;
  align-items: center;
  margin: 0;
  gap: 18%;
  transition: background-color 0.5s ease;
}

.home-no-auth-wrapper.dark-mode{
  background-color: var(--paragraph-color);
}

.home-info {
  display: flex;
  flex-direction: column;
  width: 37%;
}

.coder-gretting-container {
  background-color: var(--main-color);
  border-radius: 50%;
  width: 410px;
  height: 410px;
  position: relative;
}

.coder-gretting-container>img {
  position: absolute;
  bottom: -2%;
  right: -13%;
}

.gretting-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.gretting-image>img {
  position: absolute;
  bottom: 270px;
  left: 430px;
  font-size: 10rem;
  color: var(--main-color);
  transform: scaleX(-1);
}

.media-icons {
  position: absolute;
  bottom: 6%;
  right: 3.8%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-min);
}

.switch-mode-home{
  position: absolute;
  bottom: 50%;
  right: 4%;
}