/* Styles for section coders----------------->*/
section.mainGeneral-section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-min);
  margin-top: var(--padding-big);
  min-height: 95%;
  height: auto;
  position: relative;
}

section.mainGeneral-section > div.section-filters {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

section.mainGeneral-section > div.section-content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
  height: auto;
  width:60%;
}

section.mainGeneral-section > div.section-buttons {
  color: var(--main-color);
  display: flex;
  cursor: pointer;
}

.button-create-coder{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:var(--padding-min);
  cursor: pointer;
  z-index: 20;
  max-width: 130px;
  min-width: 13opx;
}

.create-coder-wraper{
  position: absolute;
  bottom: 7%;
  left: 4.5px;
  transition: all 0.4 ease;
}

@media (max-width: 794px) {
  .create-coder-wraper{
    position: absolute;
    top:-35px;
    left:180px;
    width: fit-content;
    height: fit-content;
    transition: all 0.4 ease;
    z-index: 100;   
  }
  .section-filters{
    min-width: 90%;
  }
  div.section-content-cards{
    min-width: 60%;
    align-items: end;
    justify-content: end;
  }
  
}

