/* Styles for section coders----------------->*/
section.mainGeneral-section {
  display: flex;
  gap: var(--padding-medium);
  margin-top: var(--padding-big);
  height: 95%;
}

section.mainGeneral-section > div.section-filters {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

section.mainGeneral-section > div.section-content-cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-medium);
  height: auto;
  width: 70%;
}

section.mainGeneral-section > div.section-buttons {
  color: var(--main-color);
  display: flex;
  cursor: pointer;
}

/*
div.content-layout
  > div
  > main.main
  > section.main-section
  > div.section-buttons
  > .button-left,
div.content-layout
  > div
  > main.main
  > section.main-section
  > div.section-buttons
  > .button-right {
  cursor: pointer;
}*/
