@import url("../../../../app/globals.css");

/* Styles for content layout dashboard admin */
div.content-layout {
  display: flex;
  gap: var(--border-radius-big);
  color: var(--white-color);
  font-family: "Ubuntu", sans-serif;
  overflow: visible;
  transition: all 0.3s ease;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
}

.content-layout-dark-mode {
  background-color: var(--paragraph-color);
  display: flex;
  gap: var(--border-radius-big);
  color: var(--white-color);
  font-family: "Ubuntu", sans-serif;
  overflow: visible;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.content-layout, div.content-layout-dark-mode {
  display: flex;
  gap: var(--border-radius-big);
  color: var(--white-color);
  font-family: "Ubuntu", sans-serif;
  overflow: visible;
  transition: all 0.3s ease;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open {
  display: none;
}

h2.title-main {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--border-radius-min);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border-radius-min);
  border: none;
  transition: background-color 0.4s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.buttons {
  background-color: red;
}

div.content-dashboard {
  width: 100%;
}

div.content-dashboard > main.mainGeneral {
  position: absolute;
  width: 80%;
  height: 85%;
  left: 290px;
  transition: all 0.3s ease;
}

div.content-dashboard > main.mainGeneralCollapsed {
  position: absolute;
  width: 85%;
  height: 85%;
  left: 165px;
  transition: all 0.4s ease;
}

/* Media query for small screens (<= 794px) */
@media (max-width: 794px) {
  div.content-dashboard > main.mainGeneral,
  div.content-dashboard > main.mainGeneralCollapsed {
    width: 100%;
    left: 40px;
    padding: 10px;
  }
  .content-layout, .content-layout-dark-mode {
    flex-direction: column;
    gap: var(--border-radius-small);
  }
}
