@import url("../../../../app/globals.css");

/* Styles for content layout dashbaord admin*/
div.content-layout {
  display: flex;
  gap: var(--border-radius-big);
  color: var(--white-color);
  font-family: "Ubuntu", sans-serif;
  overflow: visible;
  transition: all 0.3s ease;
  height: 100%;
  width: 100%;
}

.open {
  display: none;
}

h2.title-main {
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--border-radius-min);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border-radius-min);
  border: none;
  transition: background-color 0.4s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.buttons {
  background-color: red;
}

div.content-dashboard {
  width: 100%;
}

div.content-dashboard > main.main {
  position: absolute;
  width: 80%;
  height: 85%;
  left: 17%;
}
