div.content-dashboard {
  width: 100%;
}

div.content-dashboard > main.main {
  position: absolute;
  width: 80%;
  height: 85%;
  left: 17%;
}

div.content-dashboard > main.main-open {
  background-color: red;
}
