div.card {
  border: 1px solid var(--border-color-gray);
  border-radius: var(--border-radius-min);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(100% / 3 - 15px);
  height: 320px;
}

div.card.dark-mode{
  background-color: var(--background-color-dark-light);
  border: none;
}

div.card > div.card-header {
  width: 100%;
  height: 70%;
  position: relative;
}
div.card > div.card-header > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-top-left-radius: var(--border-radius-min);
  border-top-right-radius: var(--border-radius-min);
}

div.card > div.card-header > div.header-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-min);
}

div.card > div.card-body {
  display: flex;
  justify-content: space-between;
  padding: var(--border-radius-min);
}

div.card > div.card-body > div.body-information {
  width: 70%;
}
div.card.dark-mode > div.card-body > div.body-information > h3.body-title {
  color: var(--white-color);
}

div.card > div.card-body > div.body-information > h3.body-title {
  font-size: 1rem;
  color: var(--paragraph-color);
}

div.card > div.card-body > div.body-information > h5.body-subtitle {
  color: var(--paragraph-color-gray);
}

/* Style icon*/
div.card > div.card-header > div.header-buttons > .edit-icon {
  color: var(--gray-strong-color);
  cursor: pointer;
}

div.card > div.card-header > div.header-buttons > .delete-icon {
  color: var(--gray-strong-color);
  cursor: pointer;
}

div.card > div.card-header > div.header-buttons > .edit-icon:hover {
  color: var(--main-color);
  cursor: pointer;
}
div.card > div.card-header > div.header-buttons > .delete-icon:hover {
  color: var(--red-color);
  cursor: pointer;
}

@media (max-width: 794px){
  div.card {
    border: 1px solid var(--border-color-gray);
    border-radius: var(--border-radius-min);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    flex-basis: none;
    height: 320px;
  }
}

#card-0 {
  position: absolute;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(50px);
}

#card-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(90deg) translateZ(50px);
}

#card-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg) translateZ(50px);
}

#card-3 {
  position: absolute;
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(270deg) translateZ(50px);
}
