
div.modal {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--white-color-light);
    width: 30%;
    height: 80%;
    z-index: 1000;
    border-radius: var(--border-radius-min);
    padding: var(--padding-medium);
    color: var(--paragraph-color);
}

div.modal > form.modal-information{
    display:flex;
    flex-direction:column;
    gap: var(--padding-medium)
}

div.content-modal > div.modal > form.modal-information > div.information-name-birthday,
div.content-modal > div.modal > form.modal-information > div.information-gender-clans,
div.content-modal > div.modal > form.modal-information > div.information-languages-techSkills
{
    display: flex;
}
