
div.modal {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--white-color-light);
    width: 30%;
    height: 55%;
    z-index: 1000;
    border-radius: var(--border-radius-min);
    padding: var(--padding-big);
    color: var(--paragraph-color);
    transition: all .4s ease;
}

div.modal > form.modal-information{
    display:flex;
    flex-direction:column;
    gap: var(--padding-medium);
    margin-top: var(--padding-big);
    width: 100%;
}

div.content-modal > div.modal > form.modal-information > div.information-name-birthday,
div.content-modal > div.modal > form.modal-information > div.information-gender-clans,
div.content-modal > div.modal > form.modal-information > div.information-languages-techSkills
{
    display: flex;
    gap: var(--padding-min);
}
