@import url("../../globals.css");

/* Styles for content layout dashbaord admin*/
div.content-layout{
    display: flex;
    gap: var(--border-radius-big);
    color: var(--white-color);
    font-family: "Ubuntu", sans-serif;
    height: auto;
    overflow: visible;
    transition: all .3s ease;
}

.open{
    display: none;
}

/* Styles for header */
div.content-layout > header.header{
    position: sticky;
    top: 0;
    background-color: var(--main-color);
    flex-basis: 20%;
    border-top-right-radius: var(--border-radius-min);
    border-bottom-right-radius: var(--border-radius-min);
    padding: var(--padding-big);
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
    min-height: 634px;
    max-height: 634px;
}

/* Styles for content users*/
div.content-layout > header.header > div.header-content-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-min);
}

div.content-layout > header.header > div.header-content-user 
> h5.content-user-welcome{
    font-weight: 500;
}

/* Styles for content nav*/
div.content-layout > header.header > nav.header-nav {
    height: 65%;   
}


div.content-layout > header.header > nav.header-nav > ul.header-nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 0;
}

div.content-layout > header.header > nav.header-nav > ul.header-nav-list > li.nav-list-item, 
ul.header-nav-list > div > li.nav-list-item{
    display: flex;
    align-items: center;
    gap: var(--padding-min);
}

div.content-layout > header.header > nav.header-nav >  
ul.header-nav-list > div > li.nav-list-item{
    color: var(--white-color);
    margin-bottom: var(--padding-min);
}

/* Styles for content main*/

div.content-layout > div > main.main{
    flex-basis: 80%;
    height: auto;
    margin: var(--padding-min) 0;
}

/* */
div.content-layout > div > main.main > section.main-section{
    color: var(--paragraph-color);
    display: flex;
    flex-direction: column;
    gap: var(--padding-big);
    height: 100%;
}

h2.title-main{
    color: var(--main-color);
}

/* Styles for content coders*/
div.content-layout > div > main.main > section.main-section > div.section-content-coders{
    display: flex;
    gap: var(--padding-medium);
    align-items: center;
}

/* Styles for filters*/


/* Styles for cards*/
div.content-layout > div > main.main > section.main-section > div.section-content-cards{
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-medium);
    height:auto;
    margin-right: var(--padding-medium);
}

div.content-layout > div > main.main > section.main-section > div.section-buttons{
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

div.content-layout > div > main.main > section.main-section > div.section-buttons > .button-left,
div.content-layout > div > main.main > section.main-section > div.section-buttons > .button-right{
    cursor: pointer;
}

div.content-layout > div > footer.footer{
    height: auto;
    display: flex;
    gap: var(--padding-min);
    padding-bottom: var(--padding-min);
}

div.content-layout > div > footer.footer .link{
    text-decoration: none;
    color: var(--paragraph-color);
}

div.content-layout > div > footer.footer .link:hover{
    color: var(--main-color);
}

::-webkit-scrollbar{
    width: 12px;
};

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: var(--border-radius-min);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: var(--border-radius-min);
    border: none;
    transition: background-color .4s ease-in-out ;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.buttons{
    background-color: red;
}