.main-profile{
    background-color: var(--gray-color);
    color: var(--paragraph-color-gray);
    font-family:var(--main-font);
    border-radius: var(--border-radius-min);
    display: flex;
    padding: var(--padding-medium) var(--padding-extra-big);
    justify-content: center;
    gap:var(--padding-medium);
    min-width: 80%;
    flex-direction: column;
}
.main-profile-dark{
    background-color: var(--background-dark-mode);
    color: var(--white-color);
    font-family:var(--main-font);
    border-radius: var(--border-radius-min);
    display: flex;
    padding: var(--padding-medium) var(--padding-extra-big);
    justify-content: center;
    gap:var(--padding-medium);
    min-width: 80%;
    flex-direction: column;
}

h3{
    font-size: 1.3rem;
}