div.filter {
  display: flex;
  gap: var(--padding-big);
}

div.filter > div.filter-languages,
div.filter > div.filter-skills,
div.filter > div.filter-teach {
  display: flex;
  flex-direction: column;
  gap: var(--padding-medium);
}

div.filter > div.filter-languages > div.languages-options,
div.filter > div.filter-skills > div.skills-options,
div.filter > div.filter-teach > div.teach-options {
  display: flex;
  gap: var(--padding-min);
}

div.filter > div.filter-languages > h3,
div.filter > div.filter-skills > h3,
div.filter > div.filter-teach > h3 {
  font-weight: 400;
  color: var(--paragraph-color-gray);
}
