/*Styles login main section */

main.main {
    height: 100%;
}

main.main > section.main-section{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

main.main > section.main-section > div.section-image{
    width: 30%;
    height: 50%;
}