footer.footer {
  display: flex;
  align-items: end;
  gap: var(--padding-big);
  position: absolute;
  bottom: 3%;
  left: 290px;
}
.footer-colapsed {
  display: flex;
  align-items: end;
  gap: var(--padding-big);
  position: absolute;
  bottom: 3%;
  left: 165px;
}

.link {
  text-decoration: none;
  color: var(--paragraph-color);
}

 .link.dark-link {
  text-decoration: none;
  color: var(--white-color);
}

 .link:hover {
  color: var(--main-color);
}
