main.content-coder-update{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-extra-big);
    width: 100%;
}

main.content-coder-update > div.update-image {
    width: 25%;
    margin-top: var(--padding-extra-big);
}

main.content-coder-update > div.update-image > img{
    width: 100%;
    border-radius: var(--border-radius-min);
    margin-bottom: var(--padding-min);
}

main.content-coder-update > form.update-information {
    display: inherit;
    flex-direction: column;
    gap: var(--padding-medium);
    width: 40%;
}

main.content-coder-update > form.update-information > div.information-name-birthday{
    display: flex;
    gap: var(--padding-medium);
    width: 100%;
}

main.content-coder-update > form.update-information >  div.information-gender-clans{
    display: inherit;
    gap: inherit;
    width: 100%;
}

main.content-coder-update > form.update-information > div.information-languages-techSkills{
    display: inherit;
    gap: inherit;
    width: 100%;
}

@media (max-width: 794px) {
    main.content-coder-update {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--padding-medium);
        padding: var(--padding-min);
        justify-content: center;
        width: 70%;
        margin: 0 auto;
    }

    main.content-coder-update > div.update-image {
        width: 100%;
        margin-top: var(--padding-medium);
    }

    main.content-coder-update > form.update-information {
        width: 100%;
    }

    main.content-coder-update > form.update-information > div.information-name-birthday,
    main.content-coder-update > form.update-information > div.information-gender-clans,
    main.content-coder-update > form.update-information > div.information-languages-techSkills {
        gap: var(--padding-min);
    }
}

