div.content-filter > label {
  border: 1px solid var(--border-color-gray);
  padding: var(--padding-min);
  border-radius: var(--border-radius-min);
  color: var(--paragraph-color-gray);
  transition: background-color 0.3s ease;
  position: relative;
  width: fit-content;
  max-width: 120px; 
  height: fit-content; 
  display: flex;
  align-items: center;
  justify-content: center;
}

div.content-filter > label > input {
  display: none;
  transition: background 0.4s ease-in-out;
}

div.content-filter > label:hover {
  cursor: pointer;
  background-color: var(--gray-color);
}

.checked-filter {
  background-color: var(--white-color);
  color: var(--white-color);
  border: 1px solid var(--main-color);
  position: relative;
}

.checked-filter:hover {
  color: var(--main-color);
}

/* styles for filters */
.unchecked_java {
  background-color: var(--red-color-light);
  border: 1px solid var(--red-color-light);
}

.unchecked_cSharp {
  background-color: var(--blue-color-light);
  border: 1px solid var(--blue-color-light);
}

.unchecked_nextJs {
  background-color: var(--pink-color-light);
  border: 1px solid var(--pink-color-light);
}

.unchecked_nodeJs {
  background-color: var(--green-color-light);
  border: 1px solid var(--green-color-light);
}

/* Styles for checked icon */
.checked-icon {
  position: absolute;
  right: -25px; 
  top: -5px; 
  color: var(--main-color);
}
